{% extends 'master.html' %}

{% block head %}
<link href="/css/codemirror.css" rel="stylesheet" />
<link href="/css/theme/dracula.css" rel="stylesheet" />
{% endblock %}

{% block content %}
{{ nav() }}
<div class="ui main text container">
  {% block form_header %}{% endblock %}
  <form method="POST" class="ui form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="filename" value="{{ snippet['filename'] if snippet!=None }}" placeholder="[code name].s  (ex: stdio.s, ...)" />
    </div>
    <div class="field">
      <label>Code</label>
      <textarea name="code" id="codeArea">{{ snippet['code'] if snippet!=None }}</textarea>
    </div>
    <button type="submit" class="ui button green tiny submitButton">Submit</button>
  </form>
</div>

<script type="text/javascript" src="/js/codemirror.js"></script>
<script type="text/javascript" src="/js/mode/gas/gas.js"></script>
<script src="/js/jquery.min.js" type="text/javascript"></script>
{% block script_area %}{% endblock %}
<script>
  var $codeArea = $('#codeArea');
  var options = {
    lineNumbers: true,
    mode: {
      name: 'gas',
      architecture: 'x86'
    },
    theme: 'dracula'
  };
  if(window.editionalOptions) {
    for(var key in editionalOptions) {
      if(editionalOptions.hasOwnProperty(key))
        options[key] = editionalOptions[key];
    }
  }
  var editor = CodeMirror.fromTextArea($codeArea[0], options);
</script>
{% endblock %}
