{% extends 'master.html' %}

{% block head %}
    <link href="/static/css/codemirror.css" rel="stylesheet"/>
    <link href="/static/css/theme/dracula.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {{ nav() }}
    <div class="ui main text container">
        {% block form_header %}{% endblock %}
        <form method="POST" class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="filename" value="{{ snippet['name'] if snippet!=None }}"
                       placeholder="[code name].s  (ex: stdio.s, ...)"/>
            </div>
            <div class="field">
                <label>Code</label>
                <textarea name="code" id="codeArea"></textarea>
                <script>
                    codeArea.value = decodeURIComponent("{{ quote(snippet['data']) if snippet!=None }}");
                </script>
            </div>
            <button type="submit" class="ui button green tiny submitButton">Submit</button>
        </form>
    </div>

    <script type="text/javascript" src="/static/js/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/mode/gas/gas.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% block script_area %}{% endblock %}
    <script>
        var $codeArea = $('#codeArea');
        var options = {
            lineNumbers: true,
            mode: {
                name: 'gas',
                architecture: 'x86'
            },
            theme: 'dracula'
        };
        if (window.editionalOptions) {
            for (var key in editionalOptions) {
                if (editionalOptions.hasOwnProperty(key))
                    options[key] = editionalOptions[key];
            }
        }
        var editor = CodeMirror.fromTextArea($codeArea[0], options);
    </script>
{% endblock %}
