{% extends 'master.html' %}

{% block head %}
    <link href="/static/css/codemirror.css" rel="stylesheet"/>
    <link href="/static/css/theme/dracula.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {{ nav() }}
    <div class="ui main text container">
        {% block form_header %}{% endblock %}
        <form method="POST" class="ui form" id="code-form">
        {% if not code_only %}
            <div class="field">
                <label>Name</label>
                <input type="text" name="filename" value="{{ snippet['name'] if snippet!=None }}"
                       placeholder="[code name].s  (ex: stdio.s, ...)" {{ additional_properties }}/>
            </div>
        {% endif %}
            <div class="field">
                <label>Code</label>
                <textarea name="code" id="codeArea"></textarea>
                <script>
                    codeArea.value = decodeURIComponent("{{ quote(snippet['data'] if snippet!=None else '# You can include a snippet like:\n# .include "name.s". Cool right?\n')|safe }}");
                </script>
            </div>
        {% if code_only %}
            <div class="field">
                <label for="output">Output</label>
                <textarea name="Output" id="output" cols="30" rows="10" class="code"></textarea>
                <script>
                    output.value = decodeURIComponent("{{ quote(snippet.output) }}");
                </script>
            </div>
        {% endif %}
            {% block footer %}
            {% endblock %}
        </form>
    </div>

    <script type="text/javascript" src="/static/js/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/mode/gas/gas.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% block script_area %}{% endblock %}
    <script>
        var $codeArea = $('#codeArea');
        var options = {
            lineNumbers: true,
            mode: {
                name: 'gas',
                architecture: 'x86'
            },
            theme: 'dracula'
        };
        if (window.editionalOptions) {
            for (var key in editionalOptions) {
                if (editionalOptions.hasOwnProperty(key))
                    options[key] = editionalOptions[key];
            }
        }
        var editor = CodeMirror.fromTextArea($codeArea[0], options);
    </script>
{% endblock %}
