{% extends 'code_form.html' %}

{% block form_header %}
    <style>
        .submitButton {
            display: none;
        }
    </style>
    <h2 class="ui dividing header">
        {{ history.chal.name }}: #{{ history['id'] }}
    </h2>
{% endblock %}

{% block script_area %}
    <script>
        var form = $('#code-form')[0];
        form.onsubmit = function resubmit() {
            console.log($('#codeArea').val());
            return false;
        }
    </script>
{% endblock %}

{% block footer %}
    <a href="/challenge/{{ history.chal_id }}#!/history/{{ history.id }}" class="ui primary tiny labeled icon button">
        <i class="fire icon"></i>
        Re-submit
    </a>
{% endblock %}