{% extends "master.html" %}


{% block head %}
<link href="/css/codemirror.css" rel="stylesheet" />
<link href="/css/theme/dracula.css" rel="stylesheet" />
<style type="text/css">
    h2 {
        font-weight: normal;
        margin-top: 1em !important;
    }
    .main.ui {
        padding-top: 0px !important;
        margin-top: 0px;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        overflow-y: auto;
    }
    .main.ui > .column {
        box-sizing: border-box;
    }
    p.desc {
        white-space: pre-line;
        line-height: 180%;
        padding: 10px;
    }
    textarea#codeArea, .CodeMirror {
        width: 100%;
        height: 100%;
        position: absolute;
        font-family: Consolas, Lucida Console, NanumGothic, monospace !important;
        font-size: 0.9em;
    }
    .codeAreaContainer {
        padding: 0px !important;
    }

    .instructionContainer {
        overflow-y: auto;
        border-right: 2px solid #333;
        resize: horizontal;
    }
</style>
{% endblock %}

{% block content %}
{{ nav() }}
<div class="ui main stackable three column grid fixed">
    <div class="ui six wide column instructionContainer">
        <h2 class="ui dividing header">
            <i class="plug circular icon"></i>
            <div class="content">
                {{ problem['name'] }}
                <div class="sub header">
                    분류&nbsp;<a>{{ problem['category'] }}</a>
                </div>
            </div>
        </h2>
        <p class="desc">{{ problem['instruction'] }}</p>
    </div>
    <div class="ui ten wide column codeAreaContainer">
        <textarea id="codeArea">{{ problem['example'] }}</textarea>
    </div>
</div>
<script type="text/javascript" src="/js/codemirror.js"></script>
<script type="text/javascript" src="/js/mode/gas/gas.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/semantic.min.js"></script>
<script type="text/javascript" src="/js/problem.js"></script>
{% endblock %}
