{% extends "master.html" %}


{% block head %}
<style type="text/css">
  .problem { margin-bottom: 25px; }
  tr { cursor: pointer; }
</style>
{% endblock %}


{% block content %}
{{ nav() }}

<div class="ui main text container">
  <div class="ui segment">
    {%- for prob in problems -%}
      <div class="problem">
        <a class="ui orange ribbon label">{{ prob.category }}</a>
        <span><a href="/problem/{{ prob.id }}">{{ prob.name }}</a></span>
        {%- if prob.solved -%}
          <i class="check circle green icon"></i>
        {%- endif -%}
      </div>
    {%- else -%}
    <p class="empty">
      아직 문제가 추가되지 않았습니다.
    </p>
    {%- endfor -%}
  </div>
</div>
{% endblock %}
