{% extends "admin/master.html" %}


{% macro render_field(field) %}
    <div class="field">
        <label>{{ field.description }} </label>
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% block head %}
    <link href="/static/css/codemirror.css" rel="stylesheet"/>
    <link href="/static/css/theme/dracula.css" rel="stylesheet"/>
    <style type="text/css">
        textarea {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 168px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


{% endblock %}


{% block content %}
    <h1>
        {{ '문제 수정' if challenge!=None else '문제 추가' }}
        <a href="/challenge/{{ challenge['id'] }}"><i class="ui right angle icon"></i></a>
    </h1>
    <form class="ui form" action="{{ action }}" method="POST">
        {{ render_field(form.name) }}
        {{ render_field(form.category) }}
        {{ render_field(form.instruction) }}
        {{ render_field(form.suffix) }}
        {{ render_field(form.example) }}
        {{ render_field(form.hint) }}
        {{ render_field(form.input) }}
        {{ render_field(form.answer_regex) }}
        {{ form.csrf_token }}
        <button class="ui button" tabindex="0">{{ 'Modify Challenge' if challenge!=None else 'Add Challenge' }}</button>
    </form>
    <script type="text/javascript" src="/static/js/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/codemirror_addon_simplescrollbars.js"></script>
    <script src="/static/js/codemirror-4.inline-attachment.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/mode/gas/gas.js"></script>
    <script>
        var simplemde = new SimpleMDE({element: instruction, spellChecker: false});
        inlineAttachment.editors.codemirror4.attach(simplemde.codemirror, {
            onFileUploadResponse: function (xhr) {
                var result = JSON.parse(xhr.responseText),
                    filename = result[this.settings.jsonFieldName];

                if (result && filename) {
                    var newValue;
                    if (typeof this.settings.urlText === 'function') {
                        newValue = this.settings.urlText.call(this, filename, result);
                    } else {
                        newValue = this.settings.urlText.replace(this.filenameTag, filename);
                    }
                    var text = this.editor.getValue().replace(this.lastValue, newValue);
                    this.editor.setValue(text);
                    this.settings.onFileUploaded.call(this, filename);
                }
                return false;
            }
        });
        var editors = ['example', 'suffix'];
        editors = editors.map(function (name) {
            var editor = document.getElementById(name);
            return CodeMirror.fromTextArea(editor, {
                theme: 'dracula',
                mode: {
                    'name': 'gas',
                    'architecture': 'x86'
                }
            });
        });
    </script>
{% endblock %}
