{% extends "admin/master.html" %}


{% block head %}
<style type="text/css">
  div.tagsinput { border:1px solid rgba(34,36,38,.15); border-radius: .28571429rem; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput input { width:100px !important; margin:0px !important; font-family: helvetica !important; font-size: 13px !important; border:1px solid transparent !important; padding:5px !important; background: transparent; color: #000 !important; outline:0px !important;  margin-right:5px !important; margin-bottom:5px !important; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}

</style>

{% endblock %}


{% block content %}
        <h1>문제 추가</h1>
    <form class="ui form" action="{{ action }}" method="POST">
        <div class="field">
            <label>Name </label>
            <input type="text" name="prob_name" placeholder="Problem Name">
        </div> 
        <div class="field">
            <label>Tag</label>
            <input type="text" class="tags" name="tags" id="tags">
        </div>
        <div class="field">
            <label class="popup link" data-content="문제에 대한 설명을 적는 곳입니다." data-variation="inverted">Instruction <i class="circle help icon"></i></label>
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 168px;" name="prob_instruction"></textarea>
        </div> 
        <div class="field">
            <label class="popup link" data-content="유저의 코드 뒤에 붙어서 컴파일되는 코드입니다." data-variation="inverted">Suffix <i class="circle help icon"></i></label>
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 168px;" name="prob_suffix"></textarea>
        </div> 
        <div class="field">
            <label class="popup link" data-content="문제에 대한 설명을 써주십시오." data-variation="inverted">Example <i class="circle help icon"></i></label>
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 168px;" name="prob_example"></textarea>
        </div> 
        <div class="field">
            <label class="popup link" data-content="문제에 답이 출력될경우 이 값과 비교합니다." data-variation="inverted">Answer <i class="circle help icon"></i></label>
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 168px;" name="prob_answer"></textarea>
        </div> 
        <button class="ui button" tabindex="0">Add Problem</button>
    </form>
{% endblock %}