{% extends "admin/master.html" %}


{% block head %}
{% endblock %}


{% block content %}
    <h2 class="ui center aligned icon header">
      <i class="circular idea icon"></i>
      문제목록
    </h2>
    <div class="ui center aligned header">
        <a class="ui green tiny button" href="/admin/problem">
            <i class="plus icon"></i>
            문제 추가
        </a>    
    </div>
    
    <table class="ui selectable celled table">
        <thead>
            <th>문제 이름</th>
            <th width="100">카테고리</th>
            <th width="70">상태</th>
        </thead>
        <tbody>
            <tr class="positive">
                <td>테스트</td>
                <td>1</td>
                <td>Proved</td>
            </tr>
            <tr class="">
                <td>테스트</td>
                <td>1</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}