{% extends "admin/master.html" %}


{% macro render_field(field) %}
    <div class="field">
        <label>{{ field.description }} </label>
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% block head %}
    <style type="text/css">
        .autocomplete-suggestions {
            border: 1px solid #999;
            background: #FFF;
            overflow: auto;
        }

        .autocomplete-suggestion {
            padding: 5px 5px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 1em;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }

        .autocomplete-no-suggestion {
            padding: 10px;
        }
        textarea {
            margin-top: 0px; margin-bottom: 0px; height: 168px;
        }
    </style>

{% endblock %}


{% block content %}
<h1>
    {{ '문제 수정' if problem!=None else '문제 추가' }}
    <a href="/problem/{{ problem['id'] }}"><i class="ui right angle icon"></i></a>
</h1>
<form class="ui form" action="{{ action }}" method="POST">
    {{ render_field(form.name) }}
    {{ render_field(form.category) }}
    {{ render_field(form.instruction) }}
    {{ render_field(form.suffix) }}
    {{ render_field(form.example) }}
    {{ render_field(form.hint) }}
    {{ render_field(form.input) }}
    {{ render_field(form.answer_regex) }}
    {{ form.csrf_token }}
    <button class="ui button" tabindex="0">{{ 'Modify Problem' if problem!=None else 'Add Problem' }}</button>
</form>
<script>
    {% autoescape false %}
    var categories =
    {{ categories }}
    {% endautoescape %}
</script>
{% endblock %}
