{% extends "admin/master.html" %}

{% macro status_code_to_string(status) %}
    {% if status=='REG' %}
        등록됨
    {% endif %}
{% endmacro %}

{% block head %}
{% endblock %}


{% block content %}
    <h2 class="ui center aligned icon header">
      <i class="circular idea icon"></i>
      문제목록
    </h2>
    <div class="ui center aligned header">
        <a class="ui green tiny button" href="/admin/problem">
            <i class="plus icon"></i>
            문제 추가
        </a>
    </div>

    <table class="ui selectable celled table">
        <thead>
            <th>문제 이름</th>
            <th width="70">상태</th>
        </thead>
        <tbody>
            {% for prob in problems %}
            <tr class="">
                <td>
                    <a href="/admin/problem/{{prob.id}}">{{ prob.name }}</a>
                    <a href="/admin/problem/{{prob.id}}/delete" onclick='return confirm_delete({{ prob.name|tojson|safe }});'>
                      <i class="remove icon tiny"></i>
                    </a>
                </td>
                <td>
                  {{ status_code_to_string(prob.status) }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
      <script>
        function confirm_delete(name) {
          var result = confirm("정말 이 문제를 삭제하시겠습니까? :\n" + name) == true;
          return result;
        }
    </script>
    {{ render_pagination(pagination) }}
{% endblock %}
