{% extends "admin/master.html" %}


{% block head %}
{% endblock %}


{% block content %}
    <h1 class="ui header">유저 목록</h1>
    <table class="ui selectable celled table">
        <thead>
            <th>문제 이름</th>
            <th width="100">카테고리</th>
            <th width="70">상태</th>
        </thead>
        <tbody>
            <tr class="positive">
                <td>테스트</td>
                <td>1</td>
                <td>Proved</td>
            </tr>
            <tr class="">
                <td>테스트</td>
                <td>1</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}