<html>
	<head>
		<title>Assembly Learner</title>
		<link rel="stylesheet" href="static/style.css">
		<meta charset="utf-8">
	</head>
	<body>
		<div id="header">
			<h1><a href="/">어셈블리를 배워서 써먹자</a> <a href="/logout">[로그아웃]</a></h1>
		</div>
		<div id="wrap">
			<div id="content">
				<h2 id="sub">* 문제 목록</h2>
				{% for subcategory in problems.keys() %}
				<h3>{{ problems[subcategory].title }}</h3>
				<ol id="list">
					{% for name, problem in problems[subcategory].problems.items() %}
					<li {% if issolved(problem) %} class="solved"{% endif %}>
						<a href="/problem/{{ subcategory }}/{{ name }}">{{ problem.title }}</a>
					</li>
					{% endfor %}
				</ol>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
